NEXT_PUBLIC_FRIENDBOT_URL=https://friendbot.stellar.org
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015WallettypesTS Download
NEXT_PUBLIC_PROVER_URL= http://0.0.0.0:8080
NEXT_PUBLIC_VERIFIER_CONTRACT= C*********H
NEXT_PUBLIC_VERIFIER_CONTRACT_SELECTOR= 73c457ba